<diV>
  <h1>{{ title }}</h1>
  <nav class="nav">
    <a routerLink="/characters" routerLinkActive="active" ariaCurrentWhenActive="page">Characters</a>
    <a routerLink="/houses" routerLinkActive="active" ariaCurrentWhenActive="page">Houses</a>
    <a routerLink="/students" routerLinkActive="active" ariaCurrentWhenActive="page">Students</a>
    <a routerLink="/staff" routerLinkActive="active" ariaCurrentWhenActive="page">Staff</a>
    <a routerLink="/spells" routerLinkActive="active" ariaCurrentWhenActive="page">Spells</a>
  </nav>
</diV>
<router-outlet />
