<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/characters.jpg" class="d-block w-100" alt="Harry Potter Characters">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Gryffindor.jpg" class="d-block w-100" alt="Gryffindor House Emblem">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Hufflepuff.webp" class="d-block w-100" alt="Hufflepuff House Emblem">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Ravenclaw.webp" class="d-block w-100" alt="Ravenclaw House Emblem">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Slytherin.jpg" class="d-block w-100" alt="Slytherin House Emblem">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Houses.webp" class="d-block w-100" alt="All Four Hogwarts Houses' Emblem">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/sorting-hat.jpg" class="d-block w-100" alt="The sorting hat">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/spells.jpg" class="d-block w-100" alt="The Goblet of Fire">
      </div>
    </div>
  </div>
